<div class="section-details">
    <span><span class="sp-1">♦</span> | Resident Evil 4</span>
    <div class="game-details">
        <div class="photo-game">
            <div class="photo-main">
                <img src="https://blog-imgs-147.fc2.com/r/e/c/receitasfaceis/resident-evil-4-remake-363.jpg" alt="re4">
            </div>
            <div class="photo-s1">
                <button>←</button>
                <div class="photo-second">
                    <img src="https://blog-imgs-147.fc2.com/r/e/c/receitasfaceis/resident-evil-4-remake-363.jpg" alt="">
                    <img src="https://blog-imgs-147.fc2.com/r/e/c/receitasfaceis/resident-evil-4-remake-363.jpg" alt="">
                    <img src="https://blog-imgs-147.fc2.com/r/e/c/receitasfaceis/resident-evil-4-remake-363.jpg" alt="">
                </div>
                <button>→</button>
            </div>
            
        </div>
        <div class="details-geral">
            <div class="info-game-1">
                <h1>Resident Evil 4</h1>
                <h4>7,5/10</h4>
            </div>
            <hr>
            <div class="info-game-1">
                <h3>Genres: <i>Terror</i></h3>
                <h3>Studio: <i>Capcom</i></h3>
                <h3>Productor: <i>Warner 18</i></h3>
                <h3>Total Votes: <i>800</i></h3>
                <h3>Company: <i>YXZ Company</i></h3>
                <h3>Platforms: <i>XBOX 5,PS5</i></h3>
                <h3>Tags: <i>#terror #good game</i></h3>
            </div>
            <hr>
            <div class="info-game-1">
                <h2>MEDIUM PRICE $10.00</h2>
                <p>Release date 01/01/2023</p>
                <button>VOTE NOW</button>
            </div>
            <hr>
        </div>
    </div>
    <div class="descricao-game-1">
        <h2>Description</h2>
        <div class="descricao-game-2">
            <h3>samasdmaçsldmaeçvmomeomfaçwscmleafmçaslc</h3>
        </div>
    </div>
</div>
