<div class="section-games">
    <div class="listagem-games">
        <div class="game" routerLink="games/1">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
        <div class="game">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
        <div class="game">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
        <div class="game">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
        <div class="game">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
        <div class="game">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
        <div class="game">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
        <div class="game">
            <img src="https://blog.br.playstation.com/tachyon/sites/4/2022/06/acb10e0615432a904d14aa67c537ff8b8f1e5ebb.jpg?resize=1088%2C612&crop_strategy=smart" alt="re4">
            <h2>Resident Evil 4</h2>
            <h3>$42.00</h3>
            <h4>7,5/10</h4>
        </div>
    </div>
    <button>VIEW MORE PRODUCTS</button>
</div>


