<app-header-site (realizaPesquisa)="recuperarObjetoTindin($event)"></app-header-site>
<app-photo-main *ngIf="!pesquisa"></app-photo-main>
<div class="section-games" *ngIf="games">
    <div class="listagem-games" id="listagem-games">
        <div class="game" *ngFor="let game of games" routerLink="/games/{{game._id}}">
            <img [src]="game.photos[0]?.url" [alt]="game.photos[0]?.name">
            <h2>{{game.title}}</h2>
            <h3>{{game.mediumPrice}}</h3>
            <h4>{{game.rating | number:'1.1-1'}}</h4>
        </div>
    </div>
    <button (click)="mostrarMais()">{{escrita}}</button>
</div>


